<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyBooks - Home</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('lib/css/mybooks.css') }}">
  </head>
  <body>

    <div class="container">

      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">MyBooks</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-target"></div>
        </div> <!-- /.container -->

      </nav>

      {% for book in books %}
        <article>
          <h2>
            {{ book.title }}
          </h2>
          <p>
            {{ book.summary }}
          </p>
        </article>
      {% endfor %}

      <footer class="footer">
        <strong>MyBooks</strong>
        est construit avec PHP, Silex, Twig et Bootstrap
      </footer>
    </div>
  </body>
</html>
